<br />
<br />
<h2 style="text-align: center">Claude Debussy</h2>
<hr />
<div class="row">
  <div class="col-sm-3">
    <img src="../../assets/piano.jpg" alt="image of a piano" />
  </div>
  <div class="col-sm-9">
    <p>
      Claude Debussy was a French composer born in the 1800s. His harmony and
      musical structure was highly original. He developed a system that was
      expressed to inspire painters and writers. "His major works include Clair
      de lune (“Moonlight,” in Suite bergamasque, 1890–1905), Prélude à
      l’après-midi d’un faune (1894; Prelude to the Afternoon of a Faun), the
      opera Pelléas et Mélisande (1902), and La Mer (1905; “The Sea”)".
      <a href="https://www.britannica.com/biography/Claude-Debussy">Source</a>
    </p>
  </div>
</div>
