<div class="row">
  <div class="col-sm-12">
    <table class="table table-bordered">
      <thead class="table-dark">
        <tr>
          <th scope="col" style="width: 10%">ComposerId</th>
          <th scope="col" style="width: 45%">Full Name</th>
          <th scope="col" style="width: 45%">Genre</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let composer of composers">
          <td scope="row">
            <a routerLink="/composer-details/{{ composer.composerId }}"
              >{{ composer.composerId }}
            </a>
          </td>
          <td scope="row">{{ composer.fullName }}</td>
          <td scope="row">{{ composer.genre }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
