<div fxLayout="row wrap">
  <div fxFlex>
    <div fxLayout="column">
      <div>
        <img
          src="../../assets/harry.jpg"
          alt="opera house"
          style="width: 100%; object-fit: cover; overflow: hidden"
        />
      </div>
      <div>
        <em>
          Photo by
          <a
            class="attribution-link"
            href="https://lhseagle-eye.com/20114/opinion/harry-potter-a-review-just-in-time-for-thanksgiving-binge-watching/"
            target="_blank"
            >Warner Bros</a
          >
        </em>
      </div>
    </div>
  </div>
  <div fxFlex>
    <div fxLayout="column">
      <h1 class="blue">Who is J. K. Rowling</h1>
      <p>
        J. K. Rowling is a British author and philanthropist. She wrote Harry
        Potter, a seven-volume children's fantasy series published from 1997 to
        2007. The series has sold over 500 million copies, been translated into
        at least 70 languages, and spawned a global media franchise including
        films and video games.
      </p>

      <em
        ><a
          href="https://en.wikipedia.org/wiki/J._K._Rowling"
          class="attribution-link"
          >Wikipedia</a
        ></em
      >
    </div>
  </div>
</div>
