<div fxLayout="row wrap">
  <!-- card 1 -->
  <div fxFlex>
    <mat-card class="mat-elevation-z0">
      <mat-card-title class="card-title-icon">
        <mat-icon color="primary">map</mat-icon>
      </mat-card-title>

      <br />

      <mat-card-content class="align-center">
        <p>555 Street Ave</p>
        <p>Dallas, TX</p>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- card 2 -->
  <div fxFlex>
    <mat-card class="mat-elevation-z0">
      <mat-card-title class="card-title-icon">
        <mat-icon color="primary">local_phone</mat-icon>
      </mat-card-title>

      <br />

      <mat-card-content class="align-center">
        <p>Cell: 123-456-7890</p>
        <p>Fax: 111-111-1111</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<br />
<br />
<br />
<br />

<div fxLayout="column">
  <p style="text-align: center">Feel free to reach out!</p>
</div>
